[submodule "vendor/scripts"]
	path = vendor/scripts
	url = git@github.com:Univers42/scripts.git
	ignore = untracked
[submodule "apps/osionos/app"]
	path = apps/osionos/app
	url = git@github.com:Univers42/osionos.git
[submodule "apps/mail"]
	path = apps/mail
	url = git@github.com:Univers42/osionos-mail.git
[submodule "apps/calendar"]
	path = apps/calendar
	url = git@github.com:Univers42/osionos-calendar.git
[submodule "vendor/born2root"]
	path = vendor/born2root
	url = git@github.com:Univers42/born2root.git
	ignore = untracked
[submodule "vendor/QA"]
	path = vendor/QA
	url = git@github.com:Univers42/QA.git
[submodule "vendor/monkey-bot"]
	path = vendor/monkey-bot
	url = git@github.com:Univers42/monkey-bot.git
[submodule "apps/vite-gourmand"]
	path = apps/vite-gourmand
	url = git@github.com:LESdylan/vite-gourmand.git
[submodule "apps/opposite-osiris"]
	path = apps/opposite-osiris
	url = git@github.com:Univers42/prismatica.git
[submodule "apps/grobase"]
	path = apps/grobase
	url = git@github.com:Univers42/grobase.git
	branch = main
